footer {
  height: 5rem;
  background: hsl(11, 56%, 71%);
  width: 100%;
  color: hsl(0, 100%, 100%);
  padding: .5rem;
}

footer a {
  color: hsl(0, 100%, 100%);
}

footer .disclaimer {
  float: right;
  font-size: .5rem;
  width: 22rem;
  margin: 0;
  max-width: calc(100% - 2rem);
  line-height: .7rem;
}